@using RunningApp.ApplicationCore;

@model RunningInfo

@{
    ViewData["Title"] = "Home Page";
}

<div style="background-color: black; height: 55px"></div>
<section class="pt-20 pb-20 bg-blue">
    <div class="container mx-auto px-4">
        <div class="flex justify-center">
            <div class="w-full md:w-6/12 px-4 text-center">
                <div style="color: green; text-align: center; font-size: 50px; font-weight: bold;">
                    <p>Grymt, nu har du skapat en löprunda</p>
                    <p>Snyggt</p>
                    <video class="" src="/assets/run1.mp4" autoplay muted loop></video>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    localStorage.setItem("runningInfoId", @Model.Id)
</script>